<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Courses</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!-- TODO: MENU -->
<!-- TODO: Table of students -->
<div class="container">
    <h1>Student Courses</h1>

    <nav>
        <a href="/">KEA</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
    </nav>

    <p>courses go here</p>

</div>
</body>
</html>