<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!-- TODO: MENU -->
<!-- TODO: Table of students -->
<div class="container">

    <nav>
        <a href="/">KEA</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
    </nav>
    <h1>Create student</h1>
    <!--placeholder action-->
    <form action="students.html">
        First Name:<br>
        <input type="text" name="firstName">
        <br>
        Last Name:<br>
        <input type="text" name="lastName">
        <br>
        Enrollment Date:<br>
        <input type="date" name="enrollmentDate">
        <br>
        CPR:<br>
        <input type="text" name="cpr">
        <br><br>
        <!--Ikke rigtig CSS-->
        <input type="submit"class="btn btn-create">
    </form>
</div>
</body>
</html>

</div>
</body>
</html>