<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!-- TODO: MENU -->
<!-- TODO: Table of students -->
<div class="container">

    <nav>
        <a href="/">KEA</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
    </nav>
    <h1><strong>Delete</strong></h1>
    <!--placeholder action-->
    <h2><strong>Are you sure you want to delete</strong></h2>
    <p>Student name goes here</p>
    <a href="/students"><button style="width:35%" class="btn btn-create">Yes</button></a></td>
    <a href="/students"><button style="width:35%" class="btn btn-del">No</button></a></td>
</div>
</body>
</html>